@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.heading{
    font-family:  'DM Serif Display', serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 10px 16px;
    text-decoration: none;
    color: gray;
    border-radius: 4px; 
    border: 1px solid gray;
    display: inline-block;
    font-size: 18px;
}
.col{
    flex:0 1 5  0%;
    width: 46%;
}
.text{
    color: #fff;
    font-size: 20px;
    margin: 30px 0;
}
body{
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
header{
    padding: 16px 0;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 0;
}
.logo h1{
    font-size: 36px;
    color: black;
}
.logo{
    text-decoration: none;
}
.nav a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(73, 72, 72);
    text-transform: uppercase;
    margin-left: 32px;
    font-weight: 600;
}
/* hero */
.hero{
    background-color: rgb(53, 34, 63);
    padding:60px 0;
}
.hero h1{
    font-size: 80px;
    color: white;
}
.hero .col-right{
    position: relative;
    height: 500px;
}
.hero .col-right img{
    width: 100%;
    position: absolute;
    top:45px;
    right: 10px;
}
.hr-small{
    width: 30%;
}
/* section-1 */
.section-1{
    padding-top: 230px;
    padding-bottom: 50px;
}
.section-1 h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.section-1 .section-1-text{
    color: gray;
}
.section-1 .btn{
    padding:15px 20px;
    font-size: 20px;
    font-weight: 600;
}
.section-1 img{
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
/* blog */
.section-2{
    padding:60px 0;
}
.section-2 .col-2-1{
    flex: 0 1 29%;
}
.section-2 h1{
    font-size: 50px;
    margin: 20px 0;
}
.section-2 h3{
    font-size: 30px;
    margin: 5px 0;
}
.section-2 .text{
    color: gray;
    font-size: 20px;
    margin: 10px 0;
}
.section-2 i{
    padding: 10px;
    background-color: rgb(157, 197, 236);
    border-radius: 50%;
    font-size: 20px;
}
.hr-small-2{
    width: 15%;
}
/* section-3 */
.section-3 .container{
    background-color:  rgb(53, 34, 63);
    box-sizing: border-box;
    padding: 60px 32px;
}
.section-3 h1{
    font-size: 50px;
    color: #fff;
}
.section-3 .btn{
    color: #fff;
    display: inline-block;

}
/* footer */
.footer{
    padding: 50px 0;
    text-align: center;
}
.footer .container{
    padding: 0;
}
.footer h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.footer i{
    font-size: 30px;
    margin-left: 20px;
}
.footer nav{
    margin: 20px 0;
}
.footer nav a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    text-transform: capitalize;
    color: gray;
}
/* pvd */

.pvt-ltd{
    text-align: center;
    background-color: rgb(53, 34, 63);
    padding: 10px 0;
    color: gray;
}
.pvt-ltd p{
    color:gray;
    font-size: 25px;
}
small{
  margin-right: 10px;
}
